.c-daf-kesher-card{
    box-shadow: 1px 1px 9px -5px #000;
}
.c-daf-kesher-card:hover{
    transform: scale(1.1);
}

.c-daf-kesher-card .card a{
    color: rgba(0,0,0,.5);
}

.c-daf-kesher-card .card a:hover{
    color: #f8902f;
    text-decoration: none;
}

.c-daf-kesher-card .card-title.h5{
    margin-top: 0.75rem;
}

.c-daf-kesher-card p.card-text{
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.c-daf-kesher-card .card-footer{
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.c-daf-kesher-card .card-footer > div{
    cursor: pointer;
    text-align: center;
    padding: 0;
    margin: 0 10px;
}

.c-daf-kesher-card .card-footer .fa-trash-alt{
    margin: 2px;
    color: lightcoral;
    cursor: pointer;
}

.c-daf-kesher-card .card-footer .fa-edit{
    margin: 2px;
    color: rgb(128, 240, 133);
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .c-daf-kesher-card:hover{
        transform: unset;
    }
}