.navbar{
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 9px -5px #000;
}

.navbar .nav-link.active, .navbar .nav-link:hover, .navbar-nav > .btn:hover{
    color:#f8902f !important;
}


.navbar img{
    width: 60px;
}