.navbar{
    margin-bottom: 20px;
}

.navbar .dropdown-menu{
    text-align: right;
}

.navbar .nav-link.active, .navbar .nav-link:hover{
    color:#f8902f !important;
}

.navbar .dropdown-item:hover{
    background-color: #f8902f !important;
    color: white;
}

.navbar img{
    width: 60px;
}