.c-gallery-card{
    box-shadow: 1px 1px 9px -5px #000;
}

.c-gallery-card:hover{
    transform: scale(1.1);
}

.c-gallery-card .card a{
    color: rgba(0,0,0,.5);
}

.c-gallery-card .card a:hover{
    color: #f8902f;
    text-decoration: none;
}

.c-gallery-card img{
    padding: 4px;
    height: 110px;
    object-fit: cover;
}

.c-gallery-card .card-footer{
    display: none;
    padding: 3px 0;

}
.c-gallery-card:hover .card-footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.c-gallery-card .card-footer .fa-trash-alt{
    margin: 2px;
    color: lightcoral;
    cursor: pointer;
}

.c-gallery-card .card-footer .fa-edit{
    margin: 2px;
    color: rgb(128, 240, 133);
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .c-gallery-card img{
        height: 50vw;
    }
    
}

@media screen and (min-width:768px) and (max-width: 991px) {
    .c-gallery-card img{
        height: 20vw;
    }
    
}