.c-gallery-card{
    box-shadow: 1px 1px 9px -5px #000;
}

.c-gallery-card:hover{
    animation: gelatine 0.5s;
}

.c-gallery-card .card a{
    color: rgba(0,0,0,.5);
}

.c-gallery-card .card a:hover{
    color: #f8902f;
    text-decoration: none;
}

.c-gallery-card img{
    padding: 4px;
    height: 110px;
    object-fit: cover;
}

@keyframes gelatine{
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}