.c-gallery-card{
    box-shadow: 1px 1px 9px -5px #000;
}

.c-gallery-card:hover{
    transform: scale(1.1);
}

.c-gallery-card .card a{
    color: rgba(0,0,0,.5);
}

.c-gallery-card .card a:hover{
    color: #f8902f;
    text-decoration: none;
}

.c-gallery-card img{
    padding: 4px;
    height: 134px;
    object-fit: cover;
}

.c-gallery-card .card-footer{
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.c-gallery-card .card-footer > .col{
    text-align: center;
    padding: 0;
    margin: 0 7px;
}
.c-gallery-card .card-footer > .col:last-of-type{
    display: flex;
    flex-wrap: wrap;
}
.c-gallery-card .card-footer > .col:last-of-type > div{
    padding: 0;
    cursor: pointer;
    margin: 0 4px;
}

.c-gallery-card .card-footer .fa-trash-alt{
    color: lightcoral;
}

.c-gallery-card .card-footer .fa-edit{
    color: rgb(128, 240, 133);
}

.c-gallery-card .card-footer .custom-switch{
    text-align: right;
}
.c-gallery-card .card-footer .custom-switch .custom-control-label{
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .c-gallery-card img{
        height: 50vw;
    }
    .c-gallery-card:hover{
        transform: unset;
    }
    
}

@media screen and (min-width:768px) and (max-width: 991px) {
    .c-gallery-card img{
        height: 20vw;
    }
    .c-gallery-card:hover{
        transform: scale(1.02);
    }
    
}