.p-daf-kesher{
    white-space: pre-line;
    margin-top: 1.5rem;
}

.p-daf-kesher h2, .p-daf-kesher .date{
    text-align: center;
}

.p-daf-kesher .date{
    margin-bottom: 1.5rem;
}

.p-daf-kesher .logo{
    display: flex;
    justify-content: flex-end;
}

.p-daf-kesher .name{
    text-align: center;
    margin-bottom: 8px;
}

@media screen and (max-width: 576px){
    .p-daf-kesher .row.header{
        flex-direction: column-reverse;
    }

    .p-daf-kesher .logo{
        justify-content: center;
        margin-bottom: 1rem;
    }
}