.p-contact-us{
    padding: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.p-contact-us h2{
    text-align: center;
    margin-bottom: 16px;
}

.p-contact-us .custom-switch{
    float: left;
}

.p-contact-us .custom-file-label{
    text-align: left;
    overflow: hidden;
}
