.c-image-card img{
    cursor: pointer;
}

.c-image-card .card-footer{
    display: none;
    padding: 3px 0;

}
.c-image-card:hover .card-footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.c-image-card .card-footer .fa-trash-alt{
    margin: 2px;
    color: lightcoral;
    cursor: pointer;
}