.modal-body img{
    width: 100%;
}

.modal-x-button{
    position: absolute;
    right: 0;
    background-color: transparent;
    border: unset;
    color: white;
    text-shadow: 1px 1px 2px #000;
}

.modal-image-desc{
    position: absolute;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
    bottom: 10px
}
div.prev, div.next{
    background-color: #000;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

a.prev, a.next{
    cursor: pointer;
    width: auto;
    padding: 3rem 0px;
    border-radius: 0 3px 3px 0;
    border: unset;
    background-color: transparent;
    text-decoration: none;
    color: white;
    text-align: center;
}
