.p-home .main-content{
    margin:60px auto 30px;
    display: flex;
    flex-wrap: wrap;
}

.p-home .logo-img, .p-home .main-text{
    width: 370px;
}

.p-home .text{
    width: 100%;
}

.p-home h2, .p-home h3{
    color: #ffc107;
}

.p-home .buttons{
    width: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.p-home .buttons>*{
    margin-top: 20px;
    width: 105px;
}

.p-home .btn-warning, .p-home .btn-warning:hover{
    color: white;
}

@media screen and (max-width: 575px){
    .p-home .main-content{
        width: 320px;
    }

    .p-home .main-text, .p-home .logo-img{
        margin:auto;
        text-align: center;
    }
       
    .p-home .logo, .p-home .main-text{
        width: 100%;
    }

    .p-home .logo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .p-home .logo-img{
        width: 200px;
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 576px) and (max-width:991px){
    .p-home .main-content{
        width: 575px;
        justify-content: space-around;
        align-items: center;
    }

    .p-home .logo-img, .p-home .main-text{
        width: 230px;
    }   
}

@media screen and (min-width: 992px){
    .p-home .main-content{
        width: 840px;
        justify-content: space-around;
        align-items: center;
    }

    .p-home .main-text{
        border-right: 1px solid #ffc107;
        padding: 35px 15px;
    }

}